.ct {
    margin: 0 auto;
    width: calc(100vw - 20%);
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .card {
        min-height: 5rem;
        flex: 1; // minimum flex.
    }
}
