.flex {
    display: flex;

    .flex-1,
    .one {
        flex: 1;
    }

    .flex-2,
    .two {
        flex: 2;
    }

    .flex-3,
    .three {
        flex: 3;
    }

    .flex-4,
    .four
    {
        flex: 4;
    }

    .flex-5 {
        flex: 5;
    }
}

.flex.col {
    flex-direction: column;
}


.columns {
    display: flex;
    width: 100%;

    flex-direction: row;
    gap: 1rem;

    .col {
        flex: 1;
    }
}
