@import 'fonts';
@import 'resets';

@import 'flex';
@import 'containers';

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

main.centerstage {
    display: flex;

    justify-content: center;
    align-items: center;

    .frontpage {
        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin: 0 auto;
        width: calc(100vw - 40%);


        text-align: center;

        .site,
        .box {

            .brand { display: inline-flex; }
            padding: 1rem;

            .description {
                padding: 1rem;
                background: #fafafa;

                text-align: left;
            }

            a:hover {
                border-radius: 1rem;
                background: rgba(135, 206, 235, 0.2);
            }
        }

        .brand {
            width: 26vw;
            height: 12rem;

            background-repeat: no-repeat;
            background-size: cover;


            &.small {
                height: 10rem;
                width: 20rem;
                background-size: contain;
            }
        }
    }

}

main.content {
    flex: 1;

    .headline {
        margin: 1rem 0 ;
        font-family: 'nitti-typewriter-cameo', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        text-transform: uppercase;
        color: #444444;
    }

    .counts {
        text-align: center;
    }
}

#masthead {
    height: 72px;
    display: flex;

    border-bottom: solid 1px #999;

    align-items: center;
    justify-content: space-between;

    nav {
        flex: 2;
        ul {
            li {}
        }
    }

    h1.title {
        font-family: 'nitti-typewriter-open', monospace;
        font-weight: 400;
    }


    .brand,
    .subbrand
    {
        flex: 1;
        margin: 1rem 0;
        height: 48px;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .brand {
        background-position: right;
    }

    .subbrand {
        background-position: left;

        &.noodles {
            flex-shrink: 1;
            background: url('../img/noodles-logo.png') no-repeat left;
            background-size: contain;
        }

        &.stationery {
            flex-shrink: 1;
            background: url('../img/stationery-logo.png') no-repeat left;
            background-size: contain;
        }
    }
}

#colophon {
    display: flex;

    justify-content: space-between;
    padding: 1rem;
    background: #FAFAFA;
}
#colophon .brand {
    margin: 1rem 0;
    height: 48px;
}

.brand {
    width: 100%;
    height: 100%;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;


    &.noodles {
        background-image: url('../img/noodles-logo.png');

    }

    &.stationery {
        background-image: url('../img/stationery-logo.png');
    }
}




.heart {
    color: red;
}


