@import 'fonts';
@import 'resets';

@import 'flex';
@import 'containers';

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

main.centerstage {
    display: flex;

    justify-content: center;
    align-items: center;

    .frontpage {
        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin: 0 auto;
        width: calc(100vw - 40%);


        text-align: center;

        .brand {
            width: 25vw;
            height: 12rem;


            &.small {
                height: 4rem;
                width: 4rem;
            }
        }
    }

}

main.content {
    .headliner {
        margin: 1rem 0 ;
        font-family: 'nitti-typewriter-cameo', sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        text-transform: uppercase;
        color: #444444;
    }
}

#masthead {
    height: 72px;
    display: flex;

    border-bottom: solid 1px #999;

    align-items: center;
    justify-content: space-between;

    nav {
        flex: 2;
        ul {
            li {}
        }
    }

    h1.title {
        font-family: 'nitti-typewriter-open', monospace;
        font-weight: 400;
    }

    .brand {
        flex: 1;
        margin: 1rem 0;
        height: 48px;

        background-position: right;

        &.noodles {
            flex-shrink: 1;
            background: url('../img/logo-noodles.png') no-repeat left;
            background-size: contain;

        }
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

}

#colophon {
    display: flex;

    justify-content: space-between;
    padding: 1rem;
    background: #FAFAFA;
}
#colophon .brand {
    margin: 1rem 0;
    height: 48px;
}

.brand {

    width: 100%;
    height: 100%;
    background: url('../img/logo.png') no-repeat;
    background-size: contain;

    &.noodles {
        background: url('../img/logo-noodles.png');
    }
}



